<p id="notice"><%= notice %></p>

<div class="container">
<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
     <%= link_to link.title, link %><br>
      <h4><small class="author">Submitted<%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small></h4>
    </h2>
    <hr>
  </div>
  <% end %>
</div>















